$dimensions: 400px;

.full {
  max-height: 100vh;
}
.container {
  //height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.centered {
  margin: 15px;
  max-width: $dimensions;
  border: 1px #209cee solid;
  //max-height: $dimensions;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  height: 50px;
  width: 90vw;
}
.row.top {
  background-color: black;
}

.text-centered {
  text-align: center;
}

.btn {
  line-height: 3;
  display: inline-block;
  background-color: grey;
  height: 50px;
  //margin: 1px;
}

.btn.double {
  width: 53%;
}
.btn.btn-norm {
  width: 22%;
}



