//Global variables
@import "_variables.scss";

// Font decisions
.title {
  text-align: center;
}
.user-level {
  display: block;
  color: white;
  width: 100vw;
  text-align: center;
  padding: 10px;
  margin: 10px;
  text-shadow:$primary-text-shadow,
  1px 1px #333;
}
#help {
  background-color: $primary-red;
}

#counter {
  background-color: goldenrod;
}

