* { padding: 0; border: 0; box-sizing: border-box;}
html,body{
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	background-color: #e1e2ea;//#4B4E6D;
}
#container {
	width: 320px;
	margin-top: 10px;
}

#box, #box1 {
	display: flex;
}
#box1 {
	display: flex;
	justify-content: space-between;
	align-items: center;

//	margin: 20px;
}
#box1 .btn  {
//	border: 5px white solid;
	font-size: 2rem;
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.4);
	background-color: #F46036;
}

#countdown {
	height: 200px;
	border: 1px white solid;
	border-radius: 0 0 20px 0;
	background-color: #D7263D;

}

#countdown, .title, .btn {
		box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.4);
}

.counter {
	background-color: whitesmoke;
	color: black;
}


//Utilities
h1, h2, p, input, button {
	text-shadow: 1px 1px 2px rgba(0,0,0,.39),
					-1px -1px 2px rgba(0,0,0,.39);
	text-align: center;
	color: #FFFFFF;
}
h1, h2, p {
	background-color: #F46036; // #67637E;
	margin-bottom: 0;
}
input {
	width: calc(320px/2);
	font-size: 5rem;
	border: 1px darkgray solid;
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.4);
}
input:nth-of-type(1){
	background-color: #262B89;
}
input:nth-of-type(2){
	border-radius: 0 0 20px 0;
	background-color: #D82940;
}
button {
	#startBtn {
		background-color: green;
	}
	#killClock {
		background-color: red;
	}
	#resetClock {
		background-color: #262B89;
	}
}