$primary-green: rgba(0,128,0,0.8);
$primary-red: rgba(255, 0, 0, 0.8);
$primary-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);

html, body {
  min-height: 100vh;
  width: 100%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

.top {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom {
  min-height: 50vh;
  display: flex;
  justify-content: space-evenly;
}
#help {
  display: block;
  background-color: red;
  color: white;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.command-module {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playing {
  transform: scale(1.3);
  border: 0 1px 0 0 solid grey;
}

.keys {
  height: 200px;
  width: 60px;
  border-radius: 10%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6),
              -1px -1px 2px rgba(0, 0, 0, 0.6);
  // Important
  // :hover harms the important css .playing activity
  /*
  &:hover {
    transform: scale(1.03);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6),
                -1px -1px 2px rgba(0, 0, 0, 0.6);
  }
  */
}

// Buttons
.btn {
  width: 100px;
  margin: 10px;
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 1.4rem;
  border-radius: 10%;
  text-shadow: $primary-text-shadow;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3),
              -1px -1px 2px rgba(0, 0, 0, 0.3);
  &:hover {
    transform: scale(1.03);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  }
}
.btn:nth-of-type(1){
  background-color: $primary-green;

}
.btn:nth-of-type(2){
  background-color: $primary-red;
}


// Data-key IDs for working with JS functions
#keys-list > [data-key="1"]{
  background-color: blue;
}

#keys-list > [data-key="2"] {
  background-color: $primary-red;
}

#keys-list > [data-key="3"] {
  background-color:$primary-green;
}

#keys-list > [data-key="4"] {
  background-color: goldenrod;
}

// Font decisions
.title {
  margin: 20px;
  text-align: center;
}
.user-level {
  font-size: 1.3rem;
  margin: 10px;
}

// Utility
.hide {
  display: none;
}